<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <h2>User info</h2>
      <% if current_user.profile_image != nil %>
        <%= attachment_image_tag current_user, :profile_image, :fill, 100, 100, format: 'jpeg' %>
        <% else %>
        <%= image_tag 'sample_img.jpeg', style: "height: 150px" %>
        <% end %>
        <table class="table table-hover">
      <tr>
        <td>name</td>
        <td><%= current_user.name %></td>
      </tr>
      <tr>
        <td>introduction</td>
        <td><%= current_user.introduction %></td>
      </tr>
      <tr>
        <td>
          <%= link_to(edit_user_path(current_user.id), class:  "btn btn-default") do %>
    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
    <% end -%>
        </td>
      </tr>
    </table>

      <h2>New book</h2>
      <%= form_for(@book) do |t| %>
      <h4>Title</h4>
      <%= t.text_field :title%>

      <h4>Opinion</h4>
      <%= t.text_area :body%>

      <br>
      <%= t.submit 'Create Book', class: "btn btn-primary"%>
      <% end %>
    </div>
    <div class="col-lg-9">
      <h2>Users</h2>
      <table class="table table-striped">
        <tr>
            <th>image</th>
            <th>name</th>
            <th></th>
          </tr>
        <% @users.each do |user| %>
            <tr>
              <td>
                <% if user.profile_image != nil %>
        <%= attachment_image_tag user, :profile_image, :fill, 40, 40, format: 'jpeg' %>
        <% else %>
        <%= image_tag 'sample_img.jpeg', style: "height: 40px" %>
        <% end %>
              </td>
              <td><%= user.name %></td>
              <td><%= link_to "show", user_path(user) %></td>
            </tr>
        <% end %>
          
      </table>
    </div>
    </div>
  </div>